{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
	<div class="container mt-3">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<label for="username">Login</label>
			<input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control"
				   autocomplete="email" required autofocus>

			<label for="password" class="required">Password</label>
			<input
					id="password"
					name="_password"
					type="password"
					class="form-control"
					autocomplete="current-password"
					required
			>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="checkbox mb-3">
				<label>
					<input class="form-check-input" type="checkbox" name="_remember_me"> Remember me
				</label>
			</div>

			<button class="btn btn-primary" type="submit">
				Sign in
			</button>
		</form>
	</div>
{% endblock %}
