{% extends 'base.html.twig' %}

{% block title %}
	About us
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<div class="text-center">
			<h1>About us</h1>
		</div>

		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat consequatur ut totam
			accusantium. Aperiam omnis, aut natus distinctio numquam enim neque ipsum reiciendis facere, est tenetur non
			laborum!
		</p>
	</div>
{% endblock %}
