{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="px-4 py-5 mt-5 mb-2 text-center">
			<img class="d-block mx-auto mb-4" src="{{ asset('images/logo.svg') }}" alt="" width="70" height="70">
			<h1 class="display-5 fw-bold text-body-emphasis">Welcome to the home page !</h1>
			<div class="col-lg-6 mx-auto">
				<p class="lead mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat
					consequatur ut totam
					accusantium. Aperiam omnis, aut natus distinctio numquam enim neque ipsum reiciendis facere, est
					tenetur non
					laborum!</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<a href="{{ path('app_wish_list') }}" type="button" class="btn btn-primary btn-lg px-4 gap-3">Go to
						your wishes</a>
					<a href="{{ path('app_about') }}" class="btn btn-outline-secondary btn-lg px-4">About us</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container mb-5 pb-5">
		<div class="h-100 flex-column align-items-stretch pe-4">
			<div class="nav nav-pills flex-column">
				{% for category in categories %}
					<h2>{{ category.name }}</h2>
					<nav class="nav nav-pills flex-column">
						{% for wish in category.wishes %}
							<a href="{{ path('app_wish_detail', {id: wish.id}) }}"
							   class="ms-5 my-1 fs-5 link-underline link-underline-opacity-0 badge text-bg-primary w-25">
								{{ wish.title }}
							</a>
						{% endfor %}
					</nav>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
