{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
	<div class="container mt-3">
		<h1>Register</h1>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.username) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
			label: 'Password'
		}) }}
		{{ form_row(registrationForm.save, {
			label: 'Register'
		}) }}
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
