{% extends 'base.html.twig' %}

{% block title %}
	New Cocktail
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<a href="{{ path('app_cocktail_list') }}" class="btn btn-outline-primary">
			<i class="fa-solid fa-arrow-left me-2"></i>Back to list
		</a>

		<div class="text-center">
			<h1>Add a new cocktail</h1>
		</div>

		<div class="container mt-5">
			<twig:CocktailForm />
		</div>
	</div>

	<script>
		async function getFruitsByColor() {
			const url = 'https://bucket-list.ddev.site/cocktail/new-data';
			const response = await fetch(url);
			const colors = await response.json();

			const colorSelect = document.getElementById('cocktail_color');
			colorSelect.innerText = '';

			const fruitSelect = document.getElementById('cocktail_fruit');
			fruitSelect.innerText = '';

			for (let i in colors) {
				const color = colors[i];
				const colorOption = document.createElement('option');
				colorOption.value = color.id;
				colorOption.innerText = color.name

				colorSelect.insertAdjacentElement('beforeend', colorOption);
			}

			colorSelect.onchange = () => {
				console.log(this.value);
			}

			console.log(colorSelect);
		}

		// getFruitsByColor();
	</script>
{% endblock %}
