{% extends 'base.html.twig' %}

{% block title %}
	Edit {{ category.name }}
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<a href="{{ path('app_category_list') }}" class="btn btn-outline-primary">
			<i class="fa-solid fa-arrow-left me-2"></i>Back to list
		</a>

		<div class="text-center">
			<h1>Edit {{ category.name }}</h1>
		</div>

		<div class="container mt-5">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}
