{% extends 'base.html.twig' %}

{% block title %}
	{{ wish.title }}
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<a href="{{ path('app_wish_list') }}" class="btn btn-outline-primary">
			<i class="fa-solid fa-arrow-left me-2"></i>Back to list
		</a>

		<div class="container mt-5">
			<h2>{{ wish.title }}</h2>
			<h4><i class="fa-solid fa-tag me-2"></i>{{ wish.category.name }}</h4>
			<p>{{ wish.description }}</p>
			<h5>{{ wish.author }} - {{ wish.createdAt|date('d/m/Y H:i') }}</h5>
		</div>

	</div>
{% endblock %}
