{% extends 'base.html.twig' %}

{% block title %}
	New Wish
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<a href="{{ path('app_wish_list') }}" class="btn btn-outline-primary">
			<i class="fa-solid fa-arrow-left me-2"></i>Back to list
		</a>

		<div class="text-center">
			<h1>Add a new wish !</h1>
		</div>

		<div class="container mt-5">
			{{ form_start(form) }}
			{{ form_row(form.title) }}
			{{ form_row(form.description) }}
			{{ form_row(form.author, {
				value: app.user.username
			}) }}
			{{ form_row(form.category) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
