{% extends 'base.html.twig' %}

{% block title %}Vip Cocktail{% endblock %}

{% block body %}
	{# read and display all flash messages #}
	{{ include('components/_toast.html.twig') }}

	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4">
				<input
						aria-label="Nom"
						id="nom"
						class="form-control my-3"
						placeholder="Nom"
				/>
				<input
						aria-label="Prenom"
						class="form-control my-3"
						id="prenom"
						placeholder="prenom"
				/>

				<button class="btn btn-lg btn-success col-12" id="ajouter">
					<i class="fa fa-plus"></i>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-4">
				<table class="table table-striped mt-4">
					<thead>
					<tr>
						<th>Prénom</th>
						<th>Nom</th>
						<th colspan="2">Actions</th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>

	<template id="ligne">
		<tr>
			<td>Brad</td>
			<td>PITT</td>
			<td>
				<button class="btn btn-danger">
					<i class="fa fa-trash"></i>
				</button>
			</td>
			<td>
				<button class="btn btn-warning">
					<i class="fa fa-check"></i>
				</button>
			</td>
		</tr>
	</template>

	<script>
		/**
		 * @param element
		 */
		function createNewLine(element) {
			const tbody = document.querySelector('tbody');
			const template = document.getElementById('ligne');
			const clone = template.content.cloneNode(true);

			if (element.isAvailable) {
				clone.querySelector('tr').className = 'table-success';
			} else {
				clone.querySelector('tr').className = 'table-danger';
			}

			clone.querySelectorAll('td')[0].innerText = element.firstName;
			clone.querySelectorAll('td')[1].innerText = element.lastName;
			clone.querySelector('tr').setAttribute('data-id', element.id);

			clone.querySelector('.btn-danger').onclick = async (event) => {
				let vipId = event.target.closest('tr').dataset.id;
				await removeVip(vipId);
				event.target.closest('tr').remove();
			};

			clone.querySelector('.btn-warning').onclick = async (event) => {
				let vipId = event.target.closest("tr").dataset.id;
				await updateVip(vipId);
			};

			tbody.append(clone);
		}

		function clearTable() {
			const tbody = document.querySelector('tbody');
			tbody.innerText = '';
		}

		let vips = [];

		/**
		 * @return {Promise<void>}
		 */
		async function fetchAllVip() {
			clearTable();
			vips = [];

			const response = await fetch('https://bucket-list.ddev.site/api/vip');
			vips = await response.json();

			vips.forEach((vip) => {
				createNewLine(vip);
			});
		}

		async function addVip(vip) {
			const response = await fetch(`https://bucket-list.ddev.site/api/vip`, {
				method: 'POST',
				body: JSON.stringify(vip),
			});

			await fetchAllVip();
		}

		async function updateVip(id) {
			const response = await fetch(`https://bucket-list.ddev.site/api/vip/${id}`, {
				method: 'PUT',
			});

			await fetchAllVip();
		}

		async function removeVip(id) {
			const response = await fetch(`https://bucket-list.ddev.site/api/vip/${id}`, {
				method: 'DELETE',
			});

			await fetchAllVip();
		}

		fetchAllVip();

		document.getElementById('ajouter').onclick = async () => {
			const lastName = document.getElementById('nom').value;
			document.getElementById('nom').value = ''; // vider input
			const firstName = document.getElementById('prenom').value;
			document.getElementById('prenom').value = ''; // vider input

			const vip = {id: null, firstName, lastName, isAvailable: true};
			await addVip(vip);
		};
	</script>
{% endblock %}
