<nav class="navbar bg-dark">
	<div class="container">
		<a class="navbar-brand text-light" href="{{ path('app_home') }}">
			<img id="app-logo" src="{{ asset('images/logo.svg') }}" alt="Logo" width="25" height="25" class="d-inline-block align-text-top">
			Bucket List
		</a>
		<ul class="nav">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<li class="nav-item">
					<a href="{{ path('app_wish_list') }}" class="nav-link {{ app.request.get('_route') == 'app_wish_list' ? ' active' : 'link-secondary' }}" {{ app.request.get('_route') == 'app_wish_list' ? 'aria-current="page"' : '' }}>Wishes</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_category_list') }}" class="nav-link {{ app.request.get('_route') == 'app_category_list' ? ' active' : 'link-secondary' }}" {{ app.request.get('_route') == 'app_category_list' ? 'aria-current="page"' : '' }}>Categories</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-item">
						<a href="{{ path('app_user_list') }}" class="nav-link {{ app.request.get('_route') == 'app_user_list' ? ' active' : 'link-secondary' }}" {{ app.request.get('_route') == 'app_user_list' ? 'aria-current="page"' : '' }}>Users</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a href="{{ path('app_team_builder') }}" class="nav-link {{ app.request.get('_route') == 'app_team_builder' ? ' active' : 'link-secondary' }}" {{ app.request.get('_route') == 'app_team_builder' ? 'aria-current="page"' : '' }}>Team builder</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_cocktail_list') }}" class="nav-link {{ app.request.get('_route') == 'app_cocktail_list' ? ' active' : 'link-secondary' }}" {{ app.request.get('_route') == 'app_cocktail_list' ? 'aria-current="page"' : '' }}>Cocktails</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_vip') }}" class="nav-link {{ app.request.get('_route') == 'app_vip' ? ' active' : 'link-secondary' }}" {{ app.request.get('_route') == 'app_vip' ? 'aria-current="page"' : '' }}>Vip cocktail</a>
				</li>
				<li class="nav-item dropdown">
					<button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						{{ app.user.username }}
					</button>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li>
							<a href="{{ path('app_logout') }}" class="dropdown-item">Logout <i class="fa-solid fa-arrow-right-from-bracket ms-2"></i></a>
						</li>
					</ul>
				</li>
			{% else %}
				<li class="nav-item">
					<a href="{{ path('app_home') }}" class="nav-link {{ app.request.get('_route') == 'app_home' ? ' active' : 'link-secondary' }}" {{ app.request.get('_route') == 'app_home' ? 'aria-current="page"' : '' }}>Home</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_about') }}" class="nav-link {{ app.request.get('_route') == 'app_about' ? ' active' : 'link-secondary' }}" {{ app.request.get('_route') == 'app_about' ? 'aria-current="page"' : '' }}>About us</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_register') }}" class="nav-link {{ app.request.get('_route') == 'app_register' ? ' active' : 'link-secondary' }}" {{ app.request.get('_route') == 'app_register' ? 'aria-current="page"' : '' }}>Register</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('app_login') }}" class="nav-link {{ app.request.get('_route') == 'app_login' ? ' active' : 'link-secondary' }}" {{ app.request.get('_route') == 'app_login' ? 'aria-current="page"' : '' }}>Login</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
