{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="position-fixed toast text-bg-{{ label }} show bottom-0 end-0 m-3" role="alert" aria-live="assertive"
			 aria-atomic="true" style="z-index: 999999;">
			<div class="d-flex">
				<div class="toast-body">
					{% if label == 'success' %}
						<i class="fa-regular fa-circle-check fa-lg me-3"></i>
					{% endif %}
					{% if label == 'error' %}
						<i class="fa-solid fa-triangle-exclamation me-3"></i>
					{% endif %}
					{{ message }}
				</div>
				<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
						aria-label="Close"></button>
			</div>
		</div>
	{% endfor %}
{% endfor %}