{% extends 'base.html.twig' %}

{% block title %}
    TeamBuilderController
{% endblock %}

{% block body %}
    {# read and display all flash messages #}
    {{ include('components/_toast.html.twig') }}

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-8">
                {{ form_start(teamForm) }}
                <div class="bg-body-secondary p-4">
                    <div class="row">
                        <div class="col-4">
                            {{ form_widget(teamForm.name) }}
                        </div>
                        <div class="col-1">
                            <button class="btn btn-success" type="submit">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_end(teamForm) }}

                {% for team in teams %}
                    <table class="table table-striped mt-4">
                        <tbody>
                        <tr>
                            <td colspan="3">
                                <div class="row">
                                    <div class="col-1">
                                        <a href="{{ path('app_team_builder_delete_team', {id: team.id}) }}"
                                           class="btn btn-danger">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <h3>{{ team.name }}</h3>
                                    </div>
                                    <div class="col-5"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Action</th>
                        </tr>
                        {% for person in team.person %}
                            <tr>
                                <td>{{ person.firstName }}</td>
                                <td>{{ person.name }}</td>
                                <td>
                                    <a href="{{ path('app_team_builder_delete_team', {id: team.id}) }}"
                                       class="btn btn-danger">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>

            <div class="col-md-4">
                <div class="bg-body-secondary p-4">
                    {{ form_start(personForm) }}
                    <div class="mb-3">
                        {{ form_widget(personForm.firstName) }}
                    </div>
                    <div class="mb-3">
                        {{ form_widget(personForm.name) }}
                    </div>
                    <div class="mb-3">
                        {{ form_widget(personForm.teams) }}
                    </div>
                    <button type="submit" class="btn btn-success btn-lg col-12">
                        <i class="fa fa-plus"></i>
                    </button>
                    {{ form_end(personForm) }}
                </div>

                <div class="mt-3 pt-2">
                    <table class="table table-striped mt-4">
                        <thead>
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for person in persons %}
                            <tr>
                                <td>{{ person.firstName }}</td>
                                <td>{{ person.name }}</td>
                                <td>
                                    <a href="{{ path('app_team_builder_delete_person', {id: person.id}) }}"
                                       class="btn btn-danger">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
