{% extends 'base.html.twig' %}

{% block title %}User list{% endblock %}

{% block body %}
	{# read and display all flash messages #}
	{{ include('components/_toast.html.twig') }}

	<div class="container mt-3">
		<div class="text-center">
			<h1>Users list</h1>

			<div class="d-flex justify-content-between mx-2">
				<a href="{{ path('app_user_new') }}" class="btn btn-success mt-2">
					<i class="fa-solid fa-plus me-2"></i>Add user
				</a>

				<div class="btn-group mt-2">
					<button class="btn btn-primary active" id="list-view-btn">
						<i class="fa-solid fa-list-ul"></i>
					</button>
					<button class="btn btn-primary" id="card-view-btn">
						<i class="fa-solid fa-grip"></i>
					</button>
				</div>
			</div>
		</div>

		<div id="list-view" class="list-group list-group-flush mt-4" role="list">
			{% for user in users %}
				<div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
					<h4>{{ user.username }} - {{ user.email }}</h4>
					<span class="actions">
{#                        <a href="{{ path('app_wish_detail', {id: wish.id}) }}" class="btn btn-primary"> #}
						{#                            <i class="fa-solid fa-eye fa-lg"></i> #}
						{#                        </a> #}
{#						<a href="{{ path('app_user_edit_password', {id: user.id}) }}" class="btn btn-success" title="Modify Password">#}
{#							<i class="fa-solid fa-key fa-lg"></i>#}
{#						</a>#}
						<a href="{{ path('app_user_edit', {id: user.id}) }}" class="btn btn-success">
							<i class="fa-solid fa-pencil fa-lg"></i>
						</a>
						<a href="{{ path('app_user_delete', {id: user.id}) }}" class="btn btn-danger">
							<i class="fa-solid fa-trash-can fa-lg"></i>
						</a>
					</span>
				</div>
			{% endfor %}
		</div>

		<div id="card-view" class="row d-none mt-4">
			{% for user in users %}
				<div class="col-3 mb-3">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">{{ user.username }}</h5>
							<h6 class="card-subtitle mb-2 text-body-secondary">
								<i class="fa-solid fa-envelope me-2"></i>{{ user.email }}
							</h6>
							<span class="actions d-flex justify-content-center">
{#								<a href="{{ path('app_wish_detail', {id: wish.id}) }}" #}
{#								   class="card-link btn btn-primary"> #}
{#									<i class="fa-solid fa-eye fa-lg"></i> #}
{#								</a> #}
{#								<a href="{{ path('app_user_edit_password', {id: user.id}) }}" class="card-link btn btn-success" title="Modify Password">#}
{#									<i class="fa-solid fa-key fa-lg"></i>#}
{#								</a>#}
								<a href="{{ path('app_user_edit', {id: user.id}) }}" class="card-link btn btn-success">
									<i class="fa-solid fa-pencil fa-lg"></i>
								</a>
								<a href="{{ path('app_user_delete', {id: user.id}) }}" class="card-link btn btn-danger">
									<i class="fa-solid fa-trash-can fa-lg"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<script>
		// Wait until the DOM content is loaded before running this function
		document.addEventListener('DOMContentLoaded', function () {
			let listView = true;

			// View button
			const listViewButton = document.getElementById('list-view-btn');
			const cardViewButton = document.getElementById('card-view-btn');

			// View element
			const listViewElement = document.getElementById('list-view');
			const cardViewElement = document.getElementById('card-view');

			listViewButton.addEventListener('click', function () {
				listView = !listView;

				if (listView === true) {
					listViewButton.classList.add('active');
					cardViewButton.classList.remove('active');

					listViewElement.classList.remove('d-none');
					cardViewElement.classList.add('d-none');
				} else {
					listViewButton.classList.remove('active');
					cardViewButton.classList.add('active');

					listViewElement.classList.add('d-none');
					cardViewElement.classList.remove('d-none');
				}
			});

			cardViewButton.addEventListener('click', function () {
				listView = !listView;

				if (listView === false) {
					cardViewButton.classList.add('active');
					listViewButton.classList.remove('active');

					cardViewElement.classList.remove('d-none');
					listViewElement.classList.add('d-none');
				} else {
					cardViewButton.classList.remove('active');
					listViewButton.classList.add('active');

					cardViewElement.classList.add('d-none');
					listViewElement.classList.remove('d-none');
				}
			});
		});
	</script>
{% endblock %}
